{% extends 'base.html.twig' %}

{% block body %}
    <div class="auth-body">
        <div class="auth-card">
            {% if app.user %} <!-- Si el usuario está identificado, mostramos su email y un enlace para cerrar sesión -->
                <p>Identificado como: <strong>{{ app.user.email }}</strong></p>
                <div class="links">
                    <a href="{{ path('app_logout') }}">Cerrar sesión</a>
                </div>
            {% else %}
                <h2>Entrar</h2>
                
                <form method="post"> <!-- Método post para enviar los datos del formulario de forma segura -->
                    {% if error %}
                        <div class="error-message">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    <!-- Grupo de campos del formulario -->
                    <div class="form-group"> 
                        <label>Email</label>
                        <input type="email" value="{{ last_username }}" name="_username" required autofocus>
                    </div>
                    
                    <div class="form-group">
                        <label>Contraseña</label>
                        <input type="password" name="_password" required>
                    </div>

                    <!-- Token CSRF para proteger el formulario de ataques CSRF -->
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"> 

                    <!-- Botón de enviar el formulario -->
                    <button type="submit" class="btn-auth btn-primary">Iniciar sesión</button>
                    
                    <!-- Enlace para crear una cuenta -->
                    <div class="links">
                        <a href="{{ path('user_registration') }}">¿No tienes cuenta? Crear una</a>
                    </div>
                </form>
            {% endif %}
        </div>
    </div>
{% endblock %}
